body {
font-family: "Roboto", sans-serif;
background-color: #FFFFFF;
color: #434455;

}

ul {
    list-style-type: none;
}
   
a {
    text-decoration: none;
}

.container {
max-width: 1158px;
padding-left: 15px;
padding-right: 15px;
margin: 0 auto;
margin-top: 0;
}

img {
    display: block;
}

ul { list-style: none; padding-left: 0; margin: 0; }

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin: 0;
}

.icon {
    width: 40px;
    height: 40px;
    background-color: blue;
    border-radius: 50%;
}
/*------- -----------*/


/*------- Header -----------*/

.header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center; 
  width: 1158px;
}

.header-nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 auto;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;  
    margin-right: 76px;
}

.header-logo-color {
    color: #2e2f42;
}

.header-list {
display: flex;
gap: 40px;
}

.header-list-link {
display: block;
padding: 24px 0;    
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
position: relative;
color: #404bbf;
}

.header-list-link.current::after {
content: '';
position: absolute;
left: 0;
bottom: -1px;
display: block;
width: 100%;
height: 4px;
border-radius: 2px;
background-color: #404bbf;
}



.header-list-link:hover,
.header-list-link:focus {
color: #404bbf 
}



.header-adress {
    display: flex;
    gap: 40px;
}

.header-adress-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-link:hover,
.header-adress-link:focus {
color: #404bbf;
}



.address {
    font-style: normal;
}

/*------- -----------*/

/*------- Hero -----------*/

.first { 
background-color: #2e2f42;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
max-width: 1440px;
margin: 0 auto;
}

.first-container {
    display: block;
align-items: center;
padding-top: 188px;
padding-bottom: 188px;
}

.first-name {
    min-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: 0 auto;
margin: 0 auto;
margin-bottom: 48px;
}


.first-btn-text {
    display: block;
    margin: 0 auto;
    min-width: 169px;
}

.first-btn-text {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #4D5AE5;
border-radius: 4px;
border: none;
padding: 16px 32px;
margin: 0 auto;
cursor: pointer;
max-width: 496px;
}

.first-btn-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-btn-text:hover,
.first-btn-text:focus {
    background-color: #404BBF;
}

/*------- -----------*/

/*------- Non -----------*/

.container-non {
padding-top: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.non-list {
    display: flex;
    gap: 24px;
    padding-left: 0;
    margin: 0;
    margin-bottom: 120px;
}

.non-items {
    width: calc((100% - 72px) / 4);
}

.non-items-block {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    max-width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-blok-svg {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 60px;
    height: 64px;
}

.non-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.non-item-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*------- -----------*/
/*------- Team -----------*/
.team {
background: #f4f4fd;
padding-top: 120px;
}

.container-team {
    padding: 32px 0;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2e2f42;
margin-bottom: 72px;
}

.team-list { 
display: flex;
flex-wrap: wrap;
gap: 24px;
align-items: center;
margin: 0 auto;
}

.team-item {
background-color: #FFFFFF;
border-radius: 0px 0px 4px 4px;
text-align: center;
width: calc((100% - 72px) / 4);
margin-bottom: 120px;
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

.team-block {
    padding: 32px 0;
}

.team-item-svg {
    display: block;
    width: 40px;
    height: 40px; 
}

.team-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;  
margin-bottom: 8px;
}

.link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    background-color: #404bbf;
}

.team-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
}

.icon {
    border-radius: 1px;
    border-color: blueviolet;
}

.team-icon {
    fill: #f4f4fd;  
}

/*------- -----------*/
/*------- Protfolio -----------*/
.portfolio {
    padding: 120px 0 120px 0;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;

}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    padding-left: 0;
    margin: 0;
    
}

.portfolio-item {
width: calc((100% - 48px) / 3); 
position: relative;  
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
}


.portfolio-list:hover .portfolio-cover-text {
transform: translateY(0);
}


.portfolio-cover-wrap {
position: relative; 
overflow: hidden;
}

.portfolio-cover-text{
position: absolute;
top: 0;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
background-color: #4d5ae5;
height: 100%;
padding: 40px 32px;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
color: #2e2f42;
}

.portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;  
}

.portfolio-block {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}
/*------- -----------*/
/*------- Futter -----------*/
.footer {
background-color: #2e2f42;
padding: 100px 0;
}

.container-core {
display: flex;
align-items: baseline;
}

.container-footer {
   margin-right: 120px; 
}

.footer-logo {
display: inline-block;
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
}

.footer-logo-span {
color: #f4f4fd;
}

.footer-text {
max-width: 264px;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}

.container-footer-social {
align-items: baseline;
}

.social-text {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

.icon-list {
display: flex;
justify-content: flex-start;
flex-direction: row;
gap: 16px;
align-items: baseline;
}

.icon-list-item {
    display: block;
    width: 40px;
    height: 40px; 
}

.icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.icon-svg {
fill: #f4f4fd;  
}

.icon-link:hover,
.icon-link:focus {
background-color: #31d0aa
}

/*------- -----------*/